@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

.container {
  width: 82%;
  max-width: 1440px;
  margin: 0 auto;
}

p {
  color: rgba(8, 7, 7, 0.637);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

button {
  border-radius: 8px;
  background: #ff0000;
  padding: 12px 32px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 1s;
  text-transform: uppercase;
}

button:hover {
  background: #630707;
}

.important {
  color: #F00;
}

h3 {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  text-transform: capitalize;
}

h2 {
  color: #F00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

h4 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 16px;
}

/* banner section style */
header {
  margin: 60px 0;
}

.banner {
  background-image: url('../images/Banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 492px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.banner .sub-title {
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}

.banner .banner-title {
  color: #FFF;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  padding: 0 250px;
}

/* Main Section */
#categories {
  margin: 60px 0;
  padding: 0 260px;
}

.category-info {
  text-align: center;
}

.category-info h2 {
  color: #F00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 24px;
}

.category-info h4 {
  color: #F00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.category-info h3 {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 24px;
}

.category-info img {
  width: 100%;
}

/* celebrate section */
#celebrate {
  margin: 60px 0;
}

.celebrate-info {
  background-image: url('../images/Vectorrr.png');
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 8px;
}

.celebrate-text * {
  margin-bottom: 24px;
}

.celebrate-text {
  width: 60%;
  max-width: 700px;
  margin-left: 50px;
}

.celebrate-text h2 {
  color: #FFF;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.celebrate-text p {
  color: #fff;
}

/* time-sec */
#time {
  margin: 60px 0;
}

.time-text * {
  margin-bottom: 16px;
}

.time-text {
  background-color: rgba(231, 102, 102, 0.233);
  padding: 100px 250px;
  text-align: center;
  border-radius: 8px;
}

/* coming-sec */
#coming {
  margin: 60px 0;
}

.coming-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.coming-text {
  max-width: 450px;
}

.coming-img img {
  width: 100%;
  padding: 10px;
  border: 1px solid red;
  border-radius: 100%;
}

.coming-info {
  width: 370px;
}

.coming-info img {
  margin-top: 16px;
}

/* portfolio-text */
#portfolio {
  margin: 60px 0;
}

.portfolio-text {
  max-width: 850px;
  width: 70%;
}

.portfolio-img {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.img-info {
  max-width: 30%;
}

.img-info img {
  width: 100%;
  border-radius: 8px;
  transition: all 1s;
}

.img-info img:hover {
  opacity: .5;
  border: 1px solid gray;
}

/* newsletter */
#newsletter {
  margin: 60px 0;
}

.newsletter-info {
  padding: 80px 212px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
}

.newsletter-info form {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.newsletter-info input {
  flex-grow: 1;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 0 10px;
  color: rgba(39, 39, 39, 0.60);
  font-size: 20px;
  font-weight: 400;
}